.sidemenu{
  right: 0;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 170px;
  z-index: 90;
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
 }
 
 .btn{
  height: 24px;
  display: flex;
  cursor: pointer;
  position: relative;
  z-index: 1;
 }
 
 .btn p{
  color: #8596AD;
  font-size: 1.15rem;
  font-weight: 300;
  letter-spacing: .18em;
  text-transform: uppercase;
  transition: .2s ease;
 }
 
 .btn1{
  position: relative;
  height: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
  gap: .5rem;
  margin-left: auto;
  margin-right: 2.5rem;
 }
 
 
 .dot{
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: #1971ea;
  transition: .2s ease-in;
  z-index: 1;
 }

 .btn:hover p{
  color: #1971e4;
 }

 @media screen and (max-width: 768px) {
  .btn p{
    display: none;
   }
 }
